<div class="container">

<h1><%= @cocktail.name %></h1>



<ul class="list-group list-group-flush">

      <% @cocktail.doses.each do |dose| %>

      <li class="list-group-item"> <%= dose.ingredient.name %> <%= dose.description %> </li>

      <% end %>
    </ul>
<div>
      <div class="row"><%= link_to "Edit cocktail", new_cocktail_dose_path(@cocktail) %></div>
      <div class="row"><%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete,
        data: { confirm: "Are you sure?" }%></div>
        <div class="row"><%= link_to "Back to cocktails", cocktails_path %></div>
      </div>

</div>
